* {
  font-family: "Times New Roman", Times, serif;
  user-select: none;
}

header .underline {
  border-bottom: 1px solid #828282;
  padding-top: 33px;
  padding-bottom: 32px;
}
header .underline .d-flex {
  justify-content: space-between;
}
header .underline .d-flex div {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  cursor: pointer;
}
header .home-body {
  padding-top: 95px;
  padding-bottom: 50px;
}
header .home-body .d-flex {
  justify-content: space-between;
  align-items: center;
}
header .home-body .d-flex .text1 {
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}
header .home-body .d-flex .text2 {
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
header .home-body .d-flex #lang {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  display: inline-block;
  transform: rotate(90deg);
}
header .home-body .d-flex #lang .active {
  font-weight: 900;
  color: #070707;
}

#about {
  padding-top: 120px;
  background-color: #f6f6f6;
  padding-bottom: 107px;
}
#about .text1 {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
#about .text2,
#about .text3,
#about .text4 {
  padding-top: 18px;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

#portfolio {
  padding-top: 112px;
  padding-bottom: 90px;
}
#portfolio .text1 {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding-bottom: 47px;
}
#portfolio .swiper {
  width: 100%;
  height: calc(100% + 50px);
}
#portfolio .swiper-slide {
  position: relative;
}
#portfolio .swiper-slide .about-project {
  position: absolute;
  bottom: 70px;
  width: 90%;
  left: 5%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
#portfolio .swiper-slide .about-project .see, #portfolio .swiper-slide .about-project .buyed, #portfolio .swiper-slide .about-project .prisece {
  display: inline-block;
  width: calc(33.3333333333% - 5px);
}
#portfolio .swiper-slide .about-project .see:hover, #portfolio .swiper-slide .about-project .buyed:hover, #portfolio .swiper-slide .about-project .prisece:hover {
  transform: scale(1.05);
}
#portfolio .swiper-slide .about-project .see a, #portfolio .swiper-slide .about-project .buyed a, #portfolio .swiper-slide .about-project .prisece a {
  text-decoration: none;
  display: inline;
}
#portfolio .swiper-slide .about-project .see {
  text-align: left;
}
#portfolio .swiper-slide .about-project .buyed {
  text-align: center;
}
#portfolio .swiper-slide .about-project .prisece {
  text-align: end;
}

#contacts {
  padding-top: 114px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
#contacts .text1 {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
#contacts .text2 {
  padding-top: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  padding-bottom: 30px;
}
#contacts .text3 {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #070707;
  color: #ffffff;
  border-radius: 20px;
}
#contacts .text4 {
  padding-top: 30px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

/*# sourceMappingURL=style.css.map */
